/* Start Main Rules */
* {
  box-sizing: border-box;
}
body {
  font-family: 'Cairo', sans-serif;
  counter-reset: more;
}
html {
  scroll-behavior: smooth;
}
:root {
  --main-color: #2196f3;
  --alt-color: #168be5;
  --section-background: #ececec;
  --section-padding: 100px;
  --transition-duration: 0.3s;
  --l-height: 1.6;
  --p-color: #777;
}
ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
a {
  text-decoration: none;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* Components */
.main-header {
  padding: 15px;
  width: fit-content;
  font-size: 2rem;
  margin: 0px auto 100px;
  border: 2px solid black;
  position: relative;
  text-transform: uppercase;
  z-index: 1;
}
.main-header:hover {
  color: white;
  border-color: white;
  transition-delay: 0.7s;
}
.main-header::after {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--main-color);
  top: 50%;
  transform: translateY(-50%);
  left: -30px;
  z-index: -1;
}
.main-header:hover::after {
  animation: left-fill 0.7s linear forwards;
}
.main-header::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--main-color);
  top: 50%;
  transform: translateY(-50%);
  right: -30px;
  z-index: -1;
}
.main-header:hover::before {
  animation: right-fill 0.7s linear forwards;
}
@keyframes right-fill {
  50% {
    right: 0px;
  }
  100% {
    right: 0px;
    border-radius: 0px;
    width: 100%;
    height: 100%;
  }
}
@keyframes left-fill {
  50% {
    left: 0px;
  }
  100% {
    left: 0px;
    border-radius: 0px;
    width: 100%;
    height: 100%;
  }
}
/* End Main Rules */

/* Start Header */
header {
  box-shadow: 0 0 5px #777;
  background-color: white;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
@media (max-width: 767px) {
  header .container {
    flex-direction: column;
  }
}
header .container > a {
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--main-color);
  height: 75px;
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  header .container > a {
    font-size: 1.4rem;
    height: 50px;
  }
}
header .container > .links {
  display: flex;
}
header .container > .links > li > a {
  display: block;
  font-size: 1.2rem;
  color: black;
  padding: 0px 20px;
  height: 75px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  transition: var(--transition-duration);
}
header .container > .links > li > a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--main-color);
  top: 0px;
  left: -100%;
  transition: var(--transition-duration);
}
header .container > .links > li > a:hover::after {
  left: 0px;
}
header .container > .links > li > a:hover {
  color: var(--main-color);
  background-color: #fafafa;
}
@media (max-width: 767px) {
  header .container > .links > li > a {
    font-size: 0.9rem;
    height: 40px;
    padding: 0px 10px;
  }
}
/* Mega menu */
header .mega-menu {
  position: absolute;
  width: 100%;
  left: 0px;
  top: calc(100% + 100px);
  opacity: 0;
  padding: 20px;
  background-color: white;
  border-bottom: 2px solid var(--main-color);
  display: flex;
  gap: 50px;
  transition: var(--transition-duration);
  z-index: -5;
}
@media (max-width: 767px) {
  header .mega-menu {
    flex-direction: column;
    gap: 0px;
    padding: 0px;
  }
}
header .mega-menu > .menu-links {
  min-width: 250px;
}
@media (max-width: 991px) {
  header .mega-menu > .menu-links {
    flex: 1;
  }
}
header .mega-menu > .image img {
  max-width: 100%;
}
header .mega-menu > .image {
  flex: 1;
}
@media (max-width: 991px) {
  header .mega-menu > .image {
    display: none;
  }
}
header .mega-menu > .menu-links li a {
  display: block;
  position: relative;
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--main-color);
  padding: 15px;
  overflow: hidden;
}
header .mega-menu > .menu-links li:not(:last-of-type) {
  border-bottom: 1px solid #ececec;
}
@media (max-width: 767px) {
  header .mega-menu > .menu-links:first-of-type li:last-of-type {
    border-bottom: 1px solid #ececec;
  }
}
header .mega-menu > .menu-links li a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: -100%;
  background-color: #fafafa;
  transition: var(--transition-duration);
  z-index: -1;
}
header .mega-menu > .menu-links li a:hover::after {
  left: 0px;
}
header .mega-menu > .menu-links li a i {
  margin-right: 5px;
}
header .container .links > li:last-of-type:hover .mega-menu {
  top: calc(100% + 5px);
  opacity: 1;
  z-index: 0;
}
/* End Header */
/* Start Landing */
.landing {
  position: relative;
  display: flex;
  align-items: center;
  height: calc(100vh - 75px);
  z-index: -3;
}
@media (max-width: 767px) {
  .landing {
    height: calc(100vh - 90px);
  }
}
.landing::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: -80px;
  left: 0px;
  background-color: #ececec;
  transform: skewY(-5deg);
  transform-origin: top left;
  z-index: -4;
}
.landing .container {
  position: relative;
  top: -100px;
  display: flex;
  align-items: center;
  gap: 50px;
}
.landing .container .text {
  flex: 1;
}
@media (max-width: 991px) {
  .landing .container .text {
    text-align: center;
  }
}
.landing .container .text h1 {
  font-size: 2.5rem;
  letter-spacing: -2px;
}
.landing .container .text p {
  line-height: var(--l-height);
  font-size: 1.5rem;
  color: #777;
}
@media (max-width: 767px) {
  .landing .container .text h1 {
    font-size: 1.5rem;
    letter-spacing: 0px;
  }
  .landing .container .text p {
    font-size: 1rem;
    line-height: var(--l-height);
  }
}
.landing .container .image {
  position: relative;
  width: 600px;
  animation: image-up 5s infinite linear;
  animation-fill-mode: backwards;
}
@media (max-width: 991px) {
  .landing .container .image {
    display: none;
  }
}
.landing .container .image img {
  max-width: 100%;
}
.landing > a {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  color: var(--main-color);
  font-size: 15px;
  font-weight: bold;
  animation: up-down 2s infinite;
}
.landing > a:hover {
  color: red;
}
@keyframes up-down {
  10%,
  20%,
  30%,
  50%,
  60%,
  80%,
  90% {
    bottom: 30px;
  }
  40%,
  70% {
    bottom: 40px;
  }
}
@keyframes image-up {
  10%,
  30%,
  50%,
  70%,
  90% {
    bottom: -10px;
  }
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    bottom: 0px;
  }
}
/* End Landing */
/* Start Articales */
.articles {
  padding: var(--section-padding) 0px;
}
.articles .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}
.articles .container .box {
  border-radius: 5px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 20%);
  overflow: hidden;
  transition: var(--transition-duration);
}
.articles .container .box:hover {
  transform: translateY(-8px);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 25%), 2px -2px 5px rgba(0, 0, 0, 25%);
}
.articles .container .box img {
  max-width: 100%;
}
.articles .container .box .text,
.articles .container .box .more {
  padding: 20px;
}
.articles .container .box .text h4 {
  margin: 0px;
}
.articles .container .box .text p {
  line-height: var(--l-height);
  color: #777;
  margin: 10px 0px 0px;
}
.articles .container .box .more {
  border-top: 1px solid #ececec;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.articles .container .box .more a {
  color: var(--main-color);
  font-weight: bold;
}
.articles .container .box .more a:hover {
  color: var(--alt-color);
}
.articles .container .box .more i {
  color: var(--main-color);
  position: relative;
  right: 0px;
}
.articles .container .box:hover .more i {
  animation: arrow-move 0.6s linear infinite;
}
@keyframes arrow-move {
  100% {
    right: -5px;
  }
}
/* End  Articales */
/* Start Gallery */
.gallery {
  padding: var(--section-padding) 0px;
  background-color: var(--section-background);
}
.gallery .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.gallery .container .box {
  padding: 15px;
  background-color: white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.116);
}
.gallery .container .box img {
  transition: var(--transition-duration);
  max-width: 100%;
}
.gallery .container .box .image {
  overflow: hidden;
  position: relative;
}
.gallery .container .box .image::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0px;
  height: 0px;
  background-color: rgba(255, 255, 255, 0.288);
  transform: translate(-50%, -50%);
}
.gallery .container .box:hover .image::after {
  animation: flash 0.4s linear;
}
.gallery .container .box:hover img {
  transform: rotate(5deg) scale(1.1);
}
@keyframes flash {
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}
/* End Gallery */
/* Start features */
.features {
  padding: var(--section-padding) 0px;
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.features .container .box {
  border: 1px solid #7777775b;
}
.features .container .image {
  position: relative;
  overflow: hidden;
}
.features .container .image::after {
  content: '';
  position: absolute;
  top: -4px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.features .container .box:first-of-type .image::after {
  background-color: #f43f3683;
}
.features .container .box:nth-of-type(2) .image::after {
  background-color: #00968785;
}
.features .container .box:last-of-type .image::after {
  background-color: #03a8f481;
}
.features .container .image::before {
  content: '';
  position: absolute;
  bottom: 0px;
  right: 0px;
  border-width: 150px 500px 0px 0px;
  border-style: solid;
  border-color: transparent white transparent transparent;
  transition: 0.5s;
  z-index: 1;
}
.features .container .box:hover .image::before {
  border-width: 150px 0px 0px 500px;
  border-color: transparent transparent transparent white;
  right: calc(100% - 500px);
}
.features .container .image img {
  max-width: 100%;
}
.features .container .text {
  text-align: center;
  padding: 20px;
}
.features .container .text h3 {
  font-size: 35px;
  font-weight: bold;
  margin: 0px;
  width: fit-content;
  margin: auto;
  position: relative;
}
.features .container .text h3::after {
  content: '';
  position: absolute;
  width: calc(100% - 30px);
  bottom: -15px;
  left: 15px;
  height: 5px;
}
.features .container .box:first-of-type .text > h3::after {
  background-color: #f44036;
}
.features .container .box:nth-of-type(2) .text > h3::after {
  background-color: #009688;
}
.features .container .box:last-of-type .text > h3::after {
  background-color: #03a9f4;
}
.features .container .text p {
  line-height: var(--l-height);
  margin: 30px 0px 0px;
  color: var(--p-color);
  font-size: 20px;
}
.features .container .box > a {
  display: block;
  width: fit-content;
  padding: 10px 30px;
  margin: 20px auto;
  font-size: 25px;
  font-weight: bold;
  border: 3px solid black;
  border-radius: 5px;
  background-size: 200% 100%;
  background-position: top right;
  transition: 0.5s;
  outline: none;
}
.features .container .box:first-of-type > a {
  color: #f44036;
  border-color: #f44036;
  background-image: linear-gradient(to right, #f44036 50%, white 50%);
}
.features .container .box:nth-of-type(2) > a {
  color: #009688;
  border-color: #009688;
  background-image: linear-gradient(to right, #009688 50%, white 50%);
}
.features .container .box:last-of-type > a {
  color: #03a9f4;
  border-color: #03a9f4;
  background-image: linear-gradient(to right, #03a9f4 50%, white 50%);
}
.features .container .box:hover > a {
  background-position: top left;
  color: white;
}
/* End features */

/* Start testimonials */
.testimonials {
  padding: var(--section-padding) 0px;
  background-color: var(--section-background);
}
.testimonials .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.testimonials .container .box {
  position: relative;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.178);
}
@media (max-width: 767px) {
  .testimonials .container .box {
    text-align: center;
    padding-top: 80px;
  }
}
.testimonials .container .box > img {
  position: absolute;
  right: -15px;
  top: -35px;
  width: 100px;
  border-radius: 50%;
  border: 10px solid var(--section-background);
}
@media (max-width: 767px) {
  .testimonials .container .box > img {
    left: 50%;
    top: -40px;
    transform: translateX(-50%);
  }
}
.testimonials .container .box h4 {
  margin: 0px;
}
.testimonials .container .box span {
  color: var(--p-color);
  display: block;
  padding: 10px 0px;
}
.testimonials .container .box p {
  line-height: var(--l-height);
  color: var(--p-color);
}
.testimonials .container .box .rate .fil {
  color: #ffc107;
}
/* End testimonials */

/* Start Team */
.team {
  padding: var(--section-padding) 0px;
}
.team .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 100px 30px;
}
.team .container .box {
  position: relative;
}
.team .container .box::after {
  content: '';
  position: absolute;
  width: calc(100% - 60px);
  right: 0px;
  height: calc(100% + 60px);
  top: -50px;
  background-color: #f3f3f3;
  border-radius: 10px;
  z-index: -2;
}
.team .container .box::before {
  content: '';
  position: absolute;
  width: 0px;
  right: 0px;
  height: calc(100% + 60px);
  top: -50px;
  border-radius: 10px;
  background-color: #e4e4e4;
  transition: var(--transition-duration);
  z-index: -1;
}
.team .container .box:hover::before {
  width: calc(100% - 60px);
}
.team .container .box .content {
  display: flex;
  align-items: center;
}
.team .container .box .content .social {
  width: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team .container .box .content .social a {
  width: 100%;
  text-align: center;
  color: var(--p-color);
  margin-top: 25px;
}
.team .container .box .content .social a:hover {
  color: var(--main-color);
}
.team .container .box img {
  width: calc(100% - 60px);
  max-width: calc(100% - 60px);
  border-radius: 10px;
  transition: var(--transition-duration);
}
.team .container .box:hover img {
  filter: grayscale();
}
.team .container .box .info {
  margin-left: 80px;
}
.team .container .box .info h4 {
  margin: 20px 0px 0px;
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--main-color);
}
.team .container .box:hover .info h4 {
  color: var(--p-color);
}
/* End Team */

/* Start services */
.services {
  padding: var(--section-padding) 0px;
  background-color: var(--section-background);
}
.services .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.services .container .box {
  position: relative;
  background-color: white;
  color: #d5d5d5;
  box-shadow: 3px 3px 7px #999999;
  transition: var(--transition-duration);
}
.services .container .box:hover {
  transform: translateY(-10px);
}
.services .container .box::after {
  content: '';
  position: absolute;
  width: 0;
  height: 3px;
  top: -3px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--main-color);
  transition: var(--transition-duration);
}
.services .container .box:hover::after {
  width: 100%;
}
.services .container .box .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services .container .box .content i {
  margin: 50px 0px 20px;
}
.services .container .box .content span {
  color: var(--main-color);
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 50px;
}
.services .container .box .more {
  padding: 20px;
  text-align: right;
  background-color: #f9f9f9;
  position: relative;
}
.services .container .box .more::after {
  counter-increment: more;
  content: '0' counter(more);
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100px;
  color: white;
  font-size: 1.7rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
}
.services .container .box .more::before {
  content: '';
  position: absolute;
  height: calc(100% + 0.5px);
  width: 50px;
  top: 0px;
  left: 80px;
  transform: skewX(-30deg);
  background-color: #d5d5d5;
  z-index: 1;
}
.services .container .box .more a {
  color: var(--main-color);
}
/* End services */

/* Start Skills */
.our-skills {
  padding: var(--section-padding) 0px;
}
.our-skills .container {
  display: flex;
}
@media (max-width: 991px) {
  .our-skills .container img {
    display: none;
  }
}
.our-skills .container .stats {
  flex: 1;
}
.our-skills .container .stats .progres {
  position: relative;
}
.our-skills .container .stats .progres > h4 {
  display: inline-block;
  margin: 25px 0px;
  font-weight: bold;
}
.our-skills .container .stats .progres > span {
  position: absolute;
  right: 10px;
  top: 20px;
  color: var(--main-color);
  border: 1px solid #999999;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 2.5px 5px;
}
.our-skills .container .stats .bar {
  padding: 15px;
  background-color: #eeeeee;
  position: relative;
}
.our-skills .container .stats .bar span {
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  background-color: var(--main-color);
  height: 100%;
}
/* End Skills */

/* Start Work */
.work {
  padding: var(--section-padding) 0px;
  background-color: var(--section-background);
}
.work .container {
  display: flex;
  align-items: center;
  gap: 100px;
}
.work .container > img {
  max-width: 100%;
}
@media (max-width: 991px) {
  .work .container {
    flex-direction: column;
    gap: 50px;
  }
}
.work .container .content {
  flex: 1;
}
.work .container .content .box > div {
  display: flex;
  align-items: center;
  padding: 20px;
  margin-bottom: 25px;
  border-radius: 5px;
  border: 2px solid white;
  position: relative;
}
@media (max-width: 767px) {
  .work .container .content .box > div {
    flex-direction: column;
    text-align: center;
  }
}
.work .container .content .box {
  position: relative;
  background-color: #f6f5f5;
}
.work .container .content .box::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ededed;
  width: 0px;
  height: 0px;
  transition: var(--transition-duration);
}
.work .container .content .box:hover::before {
  width: 100%;
  height: 100%;
}
.work .container .content .box img {
  width: 60px;
  margin-right: 30px;
}
@media (max-width: 767px) {
  .work .container .content .box img {
    margin-right: 0px;
  }
}
.work .container .content .box h4 {
  margin: 10px 0px 0px;
  font-size: 1.4rem;
  font-weight: bold;
}
.work .container .content .box p {
  line-height: var(--l-height);
  color: var(--p-color);
  font-size: 1.2rem;
}
/* End Work */

/* Start Events */
.events {
  padding: var(--section-padding) 0px;
}
.events .container .content {
  display: flex;
  align-items: center;
  margin-bottom: 80px;
  gap: 50px;
}
.events .container .content img {
  width: 500px;
}
@media (max-width: 991px) {
  .events .container .content img {
    display: none;
  }
}
.events .container .content .box {
  flex: 1;
  text-align: center;
}
.events .container .box .dates {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.events .container .box .dates .date {
  border: 1px solid #ececec;
  width: 65px;
  border-radius: 5px;
  transition: var(--transition-duration);
}
.events .container .box .dates .date span {
  display: block;
}
.events .container .box .dates .date span:first-of-type {
  font-size: 2rem;
  padding: 25px 0px;
  font-weight: bold;
  color: var(--main-color);
}
.events .container .box .dates .date span:last-of-type {
  padding: 10px 0px;
  border-top: 1px solid #ececec;
  font-size: 0.9rem;
  color: var(--p-color);
  transition: var(--transition-duration);
}
.events .container .box .dates .date:hover,
.events .container .box .dates .date:hover span:last-of-type {
  border-color: var(--main-color);
}
.events .container .box h4 {
  font-size: 2rem;
  font-weight: bold;
}
.events .container .box p {
  font-size: 1.2rem;
  line-height: var(--l-height);
  color: var(--p-color);
}
.events .container form {
  min-width: 600px;
  padding: 30px;
  border-radius: 50px;
  width: fit-content;
  margin: auto;
  background-color: #f6f5f5;
  display: flex;
  align-items: center;
  gap: 10px;
}
@media (max-width: 767px) {
  .events .container form {
    flex-direction: column;
    border-radius: 0px;
    padding: 15px;
    min-width: 100%;
    max-width: 100%;
  }
}
.events .container form input[type='email'] {
  border: none;
  border-radius: 50px;
  padding: 20px;
  caret-color: var(--main-color);
  flex: 1;
}
@media (max-width: 767px) {
  .events .container form input[type='email'] {
    border-radius: 0px;
    padding: 15px;
    width: 100%;
  }
}
.events .container form input[type='email']::placeholder {
  transition: var(--transition-duration);
}
.events .container form input[type='email']:focus::placeholder {
  color: transparent;
}
.events .container form input[type='email']:focus {
  outline: none;
}
.events .container form input[type='submit'] {
  padding: 20px;
  border: none;
  background-color: var(--main-color);
  color: white;
  border-radius: 50px;
  font-weight: bold;
}
@media (max-width: 767px) {
  .events .container form input[type='submit'] {
    border-radius: 0px;
    width: 100%;
    padding: 15px;
  }
}
/* End Events */

/* Start Pricing */
.pricing {
  padding: var(--section-padding) 0px;
  background-color: var(--section-background);
}
.pricing .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.pricing .container .box {
  background-color: white;
  box-shadow: 5px 5px 15px #d3d3d3, -5px -5px 15px #d3d3d3;
  position: relative;
}
@media (min-width: 1200px) {
  .pricing .container .box:nth-of-type(2) {
    transform: translateY(-20px);
  }
}
.pricing .container .box::after,
.pricing .container .box::before {
  content: '';
  position: absolute;
  background-color: #f6f6f6;
  width: 0px;
  height: 50%;
  transition: var(--transition-duration);
}
.pricing .container .box::after {
  top: 0px;
  right: 0px;
}
.pricing .container .box::before {
  bottom: 0px;
  left: 0px;
}
.pricing .container .box:hover::after,
.pricing .container .box:hover::before {
  width: 100%;
}
.pricing .container .box .content {
  text-align: center;
  position: relative;
  z-index: 2;
}
.pricing .container .box .content span {
  display: block;
}
.pricing .container .content span:first-of-type {
  font-size: 1.4rem;
  font-weight: bold;
  padding: 30px 0px;
}
.pricing .container .content img {
  width: 80px;
}
.pricing .container .content span:nth-of-type(2) {
  font-size: 4rem;
  font-weight: bold;
  color: var(--main-color);
  margin: 20px 0px 5px;
}
.pricing .container .content span:nth-of-type(3) {
  color: var(--p-color);
  margin-bottom: 20px;
}
.pricing .container .box:nth-of-type(2) .content span:last-of-type {
  position: absolute;
  writing-mode: vertical-lr;
  top: 0px;
  right: 10px;
  padding: 10px 10px 30px;
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
}
.pricing .container .box:nth-of-type(2) .content span:last-of-type::after {
  content: '';
  position: absolute;
  border: 20px solid transparent;
  border-bottom-color: white;
  bottom: 0px;
  left: 0px;
}
.pricing .container ul li {
  padding: 20px;
  padding-left: 50px;
  border-top: 1px solid #eeeded;
  position: relative;
  z-index: 2;
}
.pricing .container ul li::after {
  content: '\f00c';
  position: absolute;
  font-family: 'Font Awesome 6 Free';
  font-weight: 900;
  font-size: 20px;
  color: var(--main-color);
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.pricing .container a {
  display: block;
  width: fit-content;
  margin: 30px auto;
  padding: 15px 20px;
  border: 2px solid var(--main-color);
  color: var(--main-color);
  font-weight: bold;
  text-transform: capitalize;
  border-radius: 5px;
  transition: var(--transition-duration);
  position: relative;
}
.pricing .container a:hover {
  background-color: var(--main-color);
  color: white;
}
/* End Pricing */

/* Start Videos */
.videos {
  padding: var(--section-padding) 0px;
}
.videos .container > div {
  display: flex;
  border: 1px solid #e2e2e2;
}
@media (max-width: 991px) {
  .videos .container > div {
    flex-direction: column;
  }
}
.videos .container .list {
  min-width: 300px;
  /* max-width: 100%; */
  border-right: 1px solid #e2e2e2;
}
.videos .container .list p {
  background-color: #f4f4f4;
  margin: 0px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}
.videos .container .list ul {
  display: flex;
  flex-direction: column;
}
.videos .container .list ul li a {
  display: block;
  padding: 20px;
  background-color: white;
  border-top: 1px solid #e2e2e2;
  color: black;
  transition: var(--transition-duration);
}
.videos .container .list ul li a:hover {
  background-color: #fafafa;
  color: var(--main-color);
}
.videos .container .list ul li a span {
  display: block;
  color: var(--p-color);
  margin-top: 10px;
}
.videos .container .video {
  flex: 1;
  background-color: #e2e2e2;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.videos .container .video img {
  max-width: 100%;
}
.videos .container .video p {
  padding: 20px;
  background-color: white;
  margin: 0px;
  margin-top: 10px;
}
/* End Videos */
